
<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->


<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>StartTime</th>
        <th>EndTime</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let li of userHistory">
        <td>{{li.Name}}</td>
        <td>{{li.startTime}}</td>
        <td>{{li.endTime}}</td>
      </tr>

    </tbody>
  </table>
