<ul>
    <li>
        <a [routerLink]="['./login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['./search']">Search</a>
    </li>
</ul>
<router-outlet></router-outlet>
<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div class="container">

    <h1>Search Parking</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control input-lg"
                    #search [formControl]="searchControl">
            </div>
        </div>
    </div>

    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker *ngFor="let li of latLong" [latitude]="li.latitude" [longitude]="li.longitude">

            <agm-info-window [disableAutoPan]="true">
                Hi, this is the content of the
                <strong>info window</strong>
            </agm-info-window>
        </agm-marker>

    </agm-map>

</div>

